@import '../../../style/main.scss';

.section {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 30px;
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.primary {
  @include button;
  padding: 12px 36px;
}

.name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: $secondary-900;
}

.job {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 27px;
  color: $base-900;
}

.info {
  margin-bottom: 42px;
}
