@import '../.././../../style/main.scss';

.good {
  color: $success-900;
  background-color: $success-100;
}

.bad {
  color: $error-900;
  background-color: $error-100;
}

.average {
  color: $waiting-900;
  background-color: $waiting-100;
}

.skill {
  margin-right: 6px;
  padding: 0 6px;
  border: 2px solid;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
