@import '../../../style/main.scss';

.section {
  margin-bottom: 80px;
  & > h2 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $secondary-900;
  }
}

.list {
  display: flex;
  & > li {
    &:not(:last-child) {
      margin-right: 20px;
    }
    padding: 7px 12px;
    border-radius: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
  }
}

.good {
  color: $success-900;
  background-color: $success-100;
}

.bad {
  color: $error-900;
  background-color: $error-100;
}

.average {
  color: $waiting-900;
  background-color: $waiting-100;
}

.skill {
  margin-right: 6px;
  padding: 0 6px;
  border: 2px solid;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

