@import '../../../../style/main.scss';

.list {
  margin-bottom: 26px;
}

.primary {
  padding: 8px 32px;
  @include button;
}

.item {
  display: flex;
  flex-direction: column;
  & > label {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $base-900;
  }
  & > input {
    padding: 10px;
    width: 350px;
    @include input;
  }
  & > div {
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $error-600;
  }
}
