@import '../../style/main.scss';

.span {
  display: inline-block;
  margin-right: 18px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: $base-400;
}

.text {
  @include button;
}

.form {
  margin-bottom: 36px;
  & > input {
    margin-bottom: 22px;
  }
  & > input[id="Password"] {
    margin-bottom: 12px;
  }
  & > input[id="Confirm-password"] {
    margin-bottom: 0px;
  }
  & > label[for="Confirm-password"] {
    margin-top: 10px;
  }
}

.forgot {
  display: block;
  @include button;
}

.primary {
  margin-bottom: 18px;
  padding: 10px 40px;
  @include button;
}
