@import '../../../style/main.scss';

.section {
  margin-bottom: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid $secondary-100;
}

.heading {
  margin-bottom: 24px;
  display: flex;
  & > h2 {
    margin-right: 12px;
    padding-bottom: 6px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $secondary-900;
  }
}

.edit {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
