@import '../../../../style/main.scss';

.item {
  padding: 30px 40px;
  background: $base-0;
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15);
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $secondary-900;
}

.desc {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $base-900;
  & > span {
    cursor: pointer;
    font-weight: 500;
    color: $primary-600;
  }
}

span.span {
  cursor: default;
  line-height: 32px;
  color: $waiting-900;
}

.action {
  font-size: 0;
  text-align: end;
}

.accept {
  margin-right: 20px;
  padding: 8px 32px;
  @include button;
}

.decline {
  padding: 8px 32px;
  @include button;
}
