@import '../../../style/main.scss';

.filter {
  width: 25%;
}

.header {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid $secondary-200;
  & > h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: $secondary-900;
  }
}

.text {
  padding: 4px;
  @include button;
}
