@import '../../../../style/main.scss';

.item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;

  & > label {
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $base-900;
  }
  & > input {
    padding: 10px;
    width: 350px;
    @include input;
  }
}
