@import '../../style/main.scss';

.header {
  margin: 0 auto;
  max-width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: $secondary-800;
  >span {
    color: $primary-300;
  }
}
