@import '../../style/main.scss';

.footer {
  color: $base-0;
  background-color: $primary-200;
}

.container {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 1200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.heading {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.description {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  :first-child {
    margin-bottom: 2px;
  }
}

.year {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
