@import '../../../style/main.scss';

.section {
  margin-bottom: 80px;
  & > h2 {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $secondary-900;
  }
}

.list {
  display: flex;
  & > li {
    &:not(:last-child) {
      margin-right: 20px;
    }
    padding: 7px 12px;
    border-radius: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
  }
}
